.section {
    position: relative;
    width: 100%;
    height: 68rem;
    background-image: url("/public/feedbackSectionBackground.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 11.4rem 7.6rem 3.1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.section:after {
    content: "";
    position: absolute;
    width: 26.5rem;
    height: 30rem;
    bottom: 0.6rem;
    left: -4rem;
    background-image: url("/public/circle.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.wrap {
    width: 100%;
    height: 85%;
    border-bottom: solid 5px #ffffff;
    padding: 0 3.1rem 3.8rem 3.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.3rem;
}

.wrap:before {
    content: "";
    position: absolute;
    width: 19.5rem;
    height: 19.3rem;
    top: 0.7rem;
    left: -2.5rem;
    background-image: url("/public/circle.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.wrap:after {
    content: "";
    position: absolute;
    width: 14.5rem;
    height: 15.3rem;
    bottom: 9rem;
    right: 3.5rem;
    background-image: url("/public/circle.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.contactWrap {
    width: 46%;
}

.title {
    position: relative;
    font-size: 4rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 5.5rem;
}

.title:after {
    content: "";
    position: absolute;
    width: 19.5rem;
    height: 19.3rem;
    top: 6rem;
    right: 5rem;
    background-image: url("/public/circle.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.contacts {
    font-size: 2.3rem;
    color: #ffffff;
    height: 12.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    padding-left: 1rem;
}

.contact:hover {
    color: #ff835c;
}

.social {
    padding-top: 0.9rem;
}

.social > a:first-child {
    margin-right: 0.6rem;
}

.icon:hover {
    opacity: 0.8;
}
